@model MBNSystem.Models.ClientsBranch

<div id="editbranch">
    <div class="modal-header">
        <h3>Edit Branch Details</h3>
    </div>

    @using (Ajax.BeginForm("_EditBranch", "Branch", new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace
    }, new { @id = "form" }))
    {
        <div id="modal-body" class="modal-body edit-clients-modal-body" tabindex="-1">
            @Html.HiddenFor(model => model.BranchId)
            <h4>Edit Information</h4>
            <hr />
            <div class="form-group">

                <div class="col-md-12 mb-4">
                    <div class="form-group-col">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    </div>
                    @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control txt-branchname", @placeholder = "Branch Name" } })
                </div>
            </div>

            <div class="col-md-12 mb-4">
                <div class="form-group-col">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                </div>
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control txt-address", @placeholder = "Address" } })
            </div>

            <div class="col-md-4 mb-4">
                <div class="form-group-col">
                    @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "control-label" })
                </div>
                @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control txt-phoneno", @placeholder = "Phone No." } })
            </div>

            <div class="col-md-8 mb-4">
                <div class="form-group-col">
                    @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label" })
                </div>
                @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @Class = "form-control txt-email", @placeholder = "Email Id" } })
            </div>

            <div class="col-md-4 mb-4">
                <div class="form-group-col">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                </div>
                @Html.DropDownListFor(model => model.Status, new List<SelectListItem>
                    {
                    new SelectListItem {Text = "Active", Value = "1"},
                    new SelectListItem {Text = "Discontinued", Value = "9" } }, new
                    {
                            @class = "form-control tri-state list-box"
                    })
            </div>

            <div class="col-md-4 mb-4">
                <div class="form-group-col">
                    @Html.LabelFor(model => model.IsHO, htmlAttributes: new { @class = "control-label" })
                </div>
                @Html.DropDownListFor(model => model.IsHO, new List<SelectListItem>
                    {
                    new SelectListItem {Text = "Yes", Value = "1"},
                    new SelectListItem {Text = "No", Value = "0" } }, new
                    {
                            @class = "form-control tri-state list-box"
                    })
            </div>

            <div class="col-md-12 mb-4">
                <div class="form-group-col">
                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
                </div>
                @Html.TextAreaFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control txt-remarks", @placeholder = "Remarks" } })
            </div>

            <div class="modal-footer">
                <input id="formbtn-editbranch" type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
        </div>
    }
</div>
