@model MBNSystem.MultiModels.MultiTableView
@using PagedList.Mvc;
@{
    var i = 1;
    var sn = ViewBag.SN;
    var totalPages = Model.Client.PageCount;
    var currentPage = Model.Client.PageNumber;
}
@Html.HiddenFor(x => currentPage)

<div id="client-list-table">
    <table id="client-table" class="table table table-hover" style="border-top: none; border-collapse: collapse">
        <thead class="thead-dark">
            <tr>
                <th>Client Name</th>
                <th>Status</th>
                <th>PAN No.</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var clients in Model.Client)
            {
                var expand = "expand";
                var expandvalue = expand + i.ToString();
                i = i + 1;

                <tr class="accordian-toggle client-list" data-toggle="collapse" data-target="#@expandvalue" clientid="@clients.ClientId">
                    <td class="client-name"><p class="float-left" @*url="Clients/_ClientInformation"*@>@clients.Name</p></td>
                    <td>@clients.Status</td>
                    <td>@clients.PANNo</td>
                    <td>
                        @using (Html.BeginForm("_DeleteClient", "Clients", new { id = clients.ClientId }, FormMethod.Post))
                        {
                            <input class="btn btn-sm btn-danger btn-client-delete" type="submit" value="Delete" />
                        }
                    </td>
                    <td>
                        <input id="btn-editclients" class="btn btn-sm btn-light btn-client-edit" type="submit" value="Edit" />
                    </td>
                </tr>
                <tr class="hidden-tr-row">
                    <td class="hidden-td-row" colspan="5">
                        <div class="accordion-body collapse" id="@expandvalue">
                            <table id="branch-list-table" class="table" style="border-collapse: collapse">
                                <tbody>
                                    @foreach (var branch in Model.ClientBranch.Where(x => x.ClientId == clients.ClientId))
                                    {
                                        <tr branchid="@branch.BranchId">
                                            <td>@branch.BranchNo</td>
                                            <td class="branch-name"><p class="float-left">@branch.Name</p></td>
                                            <td>@branch.Address</td>
                                            <td>@branch.PhoneNo</td>
                                            <td>@branch.EmailId</td>
                                            <td><btn id="btn-contactperson" class="btn btn-sm btn-danger">Contact Person</btn></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    @if (Model.Client.Count > 0)
    {
        <div class="pagination">
            <div class="pages" pagenumber="@currentPage" totalpages=" @totalPages">Page @currentPage of @totalPages</div>
            <div class="nextprevbtn">
                <button class="btn btn-default btnClientPage btnPrevPage"><i class="fa fa-chevron-left"></i></button>
                <button class="btn btn-default btnClientPage btnNextPage"><i class="fa fa-chevron-right"></i></button>
            </div>
            @Html.HiddenFor(x => totalPages)
            @Html.HiddenFor(x => currentPage)
        </div>
    }

</div>

