@model MBNSystem.Models.Client

<h2>ClientInformation</h2>
<hr />

<div id="client-information">
    <ul>
        <li>Clientid : @Model.ClientId</li>
        <li>Client Name : @Model.Name</li>
        <li>Status : @Model.Status</li>
        <li>Pan Number : @Model.PANNo</li>
        <li>Assigned Staff : @Model.AssignedStaffHrid</li>
        <li>Smart Banking Id :@Model.SBId</li>
        <li>Smart Banking VPN : @Model.SBVPN</li>
        <li>SMS Id : @Model.SMSId </li>
        <li>Uses ATM : @Model.UsesATM</li>
    </ul>
</div>