
@{
    ViewBag.Title = "EditClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MBNSystem.Models.Client

<div class="form col-md-4" id="edit-client-form" align="center" style="border: 1px solid #ccc; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); padding: 30px;">

    <h3 class="text-bold pb-3 pt-3">Edit Client Details</h3>
    @using (Html.BeginForm("EditClient", "Clients", FormMethod.Post))
    {
        
        //Name
        <div class="form-group">
            <div class="form-group col-lg-1 float-left pl-0">
                @Html.EditorFor(model => model.ClientId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            <div class="form-group col-lg-11 float-left">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Client's Name" } })
            </div>
        </div>
        <div class="form-group">
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            <div class="form-group float-left col-lg-4 pl-0">
                @Html.EditorFor(model => model.PANNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter PAN No." } })
            </div>
            <div class="form-group dropdown col-lg-4 float-left">
                @Html.DropDownListFor(model => model.Status, new List<SelectListItem>
                    {
                        new SelectListItem { Text = "Active", Value = "1"},
                        new SelectListItem { Text = "Discontinued", Value = "9" } }, "-----Status-----", new
                        {
                            @class = "form-control tri-state list-box"
                        })
            </div>
            <div class="form-group col-lg-3 float-right">
                @Html.EditorFor(model => model.AssignedStaffHrid, new { htmlAttributes = new { @class = "form-control", @placeholder = "HR Id" } })
            </div>
        </div>
        <div class="form-group">
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "" })
        </div>
        <div class="form-group">
            <div class="form-group col-lg-3 float-left pl-0">
                @Html.EditorFor(model => model.SBId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter SB Id" } })
            </div>
            <div class="form-group col-lg-3 float-left">
                @Html.DropDownListFor(model => model.SBVPN, new List<SelectListItem>
                    {
                        new SelectListItem { Text = "True", Value = "True"},
                        new SelectListItem { Text = "False", Value = "False" } }, "Uses VPN?",
                        new
                             {
                            @class = "form-control tri-state list-box"
                         })
            </div>
            <div class="form-group col-lg-3 float-left">
                @Html.EditorFor(model => model.SMSId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter SMSId" } })
            </div>
            <div class="form-group col-lg-3 float-left">
                @Html.DropDownListFor(model => model.UsesATM, new List<SelectListItem>
                    {
                   new SelectListItem { Text = "True", Value = "True"},
                   new SelectListItem { Text = "False", Value = "False"} }, "Uses Atm?",
                    new
                    {
                        @class = "form-control tri-state list-box"
                    })
            </div>
        </div>
        //Submit
        <div class="form-group">
            <input id="editclient" type="submit" value="Submit" class="btn btn-dark" />
        </div>
    }
</div>

@Html.ActionLink("<<Back To User", "Index", "User")